td {
    width: 80px;
    height: 20px;
}
.outer-circle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    position: relative;
}

.line-vertical, .line-horizontal {
    position: absolute;
    background-color: black;
}

.line-vertical {
    width: 10px;
    height: 180px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-horizontal {
    width: 180px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}